{% extends "base.html" %}
{% load static %}

{% block content %}

{% include 'includes/header-navbar.html' %}
{% include 'includes/header-mobile.html' %}
{% include 'includes/search-bar.html' %}

<!-- Header image -->
<div class="container-fluid header-40vh contact-header-image p-0"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4 montserrat">{{ page_title }}</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_image' image.id %}" class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <div>
                    <a href="{% url 'all_images' %}" class="btn btn-secondary montserrat float left">Cancel</a>
                    <button class="btn btn-secondary montserrat float-right" type="submit" value="Upload">Update Image</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

{% endblock %}