{% extends "base.html" %}
{% load static %}

{% block content %}

{% include 'includes/header-navbar.html' %}
{% include 'includes/header-mobile.html' %}
{% include 'includes/search-bar.html' %}

<!-- Header image -->
<div class="container-fluid header-40vh contact-header-image p-0"></div>

<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4 montserrat">{{ page_title }}</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <form method="POST" action="{% url 'edit_image' image.id %}" class="form mb-2 montserrat" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name != 'image' %}
                        {{ field | as_crispy_field }}
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endfor %}
                <div>
                    <a href="{% url 'all_images' %}" class="btn btn-secondary float left">Cancel</a>
                    <button class="btn btn-secondary float-right" type="submit">Update Image</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include 'includes/footer.html' %}

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- Lets user know what the image will be changed to -->
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}