<!-- Checkout buttons -->
<div class="container-fluid">
    <div class="row align-content-center">
        <a href="{% url 'all_images' %}" class="btn btn-secondary btn-lg mx-auto my-3 montserrat">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Adding Images</span>
        </a>
        <a href="{% url 'checkout' %}" class="btn btn-secondary btn-lg mx-auto my-3 montserrat">
            <span class="text-uppercase">Secure Checkout</span>
            <span class="icon">
                <i class="fas fa-lock"></i>
            </span>
        </a>
    </div>
</div>