{% extends "base.html" %}
{% load static %}

{% block content %}

{% include 'includes/header-navbar.html' %}
{% include 'includes/header-mobile.html' %}
{% include 'includes/search-bar.html' %}

<!-- Header image -->
<div class="container-fluid header-40vh contact-header-image p-0"></div>

<!-- Cart items -->
<main class="container mb-2">
    <div class="row">
        <div class="col-12">
            <h2 class="montserrat text-center shadow-text mt-5 mb-3">Your Shopping Cart</h2>
        </div>
    </div>
    <div class="row w-100">
        <div class="col-12 navbar-styling">
            <h5 class="montserrat text-center shadow-text my-3">Remember that you get free delivery on orders over € {{ free_delivery_threshold }}!</h5>
        </div>
    </div>
    <div class="row">
        <div class="col {% if not cart_items %}text-center{% endif %}">
            {% if cart_items %}
                <div class="table-responsive rounded">
                    <table class="table table-sm table-borderless osans">
                        <thead class="text-black">
                            <tr>
                                <th scope="col">Image Info:</th>
                                <th scope="col"></th>
                                <th scope="col">Price:</th>
                                <th scope="col">Quantity:</th>
                                <th scope="col">Subtotal:</th>
                            </tr>
                        </thead>

                        {% for item in cart_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    <img src="{{ item.images.imgurl }}" alt="{{item.images.title}} image" class="img-fluid rounded">
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.images.title }}</strong></p>
                                    <p class="my-0 small text-muted">PID:</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€ {{ item.images.price }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">{{ item.quantity }}</p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0">€ {{ item.images.price }}</p>
                                </td>
                            </tr>
                        {% endfor %}
                        
                        <tr>
                            <td colspan="5" class="pt-5 text-right">
                                <h6><strong>Cart Total: €{{ total|floatformat:2 }}</strong></h6>
                                <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                            </td>
                        </tr>
                    </table>
                </div>
                {% if grand_total > free_delivery_threshold %}
                    <div class="row w-100">
                        <div class="col-12 alert alert-info">
                            <h5 class="montserrat text-center my-3">Congratulations! You get a free delivery.</h5>
                        </div>
                    </div>
                {% else %}
                    <div class="row w-100">
                        <div class="col-12 alert alert-warning">
                            <h5 class="montserrat text-center my-3">You can get a free delivery if you add € {{ free_delivery_delta }} to your order...</h5>
                        </div>
                    </div>
                {% endif %}
                
                <div class="container-fluid">
                    <div class="row w-100 align-content-center">
                        <a href="{% url 'all_images' %}" class="btn btn-secondary rounded-0 btn-lg mx-auto montserrat">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="text-uppercase">Keep Adding Images</span>
                        </a>
                        <a href="" class="btn btn-secondary rounded-0 btn-lg mx-auto montserrat">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
            {% else %}
                <p class="lead my-5 text-center montserrat">Your cart is empty</p>
                <a href="{% url 'all_images' %}" class="btn btn-secondary rounded-1 btn-lg">
                    <p class="mx-auto my-auto">Back to All Images</p>
                </a>
            {% endif %}
        </div>
    </div>
</main>


{% include 'includes/footer.html' %}

{% endblock %}