{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Home page carousel -->
    <div id="home-page-carousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item images-container carousel-img-1 active"></div>
            <div class="carousel-item images-container carousel-img-2"></div>
            <div class="carousel-item images-container carousel-img-3"></div>
        </div>
        <!-- Carousel controlls -->
        <a class="carousel-control-prev" href="#home-page-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#home-page-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <h1 class="text-white text-center fixed-bottom" style="position: absolute;">
            <a href="#galleries" class="text-white"><i class="fas fa-chevron-down"></i></a>
        </h1>
    </div>

<!-- Galleries -->
    <!-- Background container -->
    <div id="galleries" class="container-fluid images-container galleries-background">
        <!-- Container for galleries -->
        <div class="container w-75 galeries-top-margin">
            <h2 class="text-white text-uppercase montserrat shadow-text">Galleries</h2>
            <!-- Links to galleries -->
            <div class="row">
                <!-- Image left -->
                <div class="col-sm-12 text-right navbar-styling shadow-text mb-3 pl-0">
                    <div class="container-fluid w-100 p-0">
                        <div class="row align-items-center text-white m-0">
                            <div class="col-5 h-100 p-0">
                                <a href="#">
                                    <img src="/media/wien-night.jpg" alt="Night city image" class="img-fluid float-left">
                                </a>
                            </div>
                            <div class="col-7 h-100">
                                <a href="#" class="text-white">
                                    <p class="responsive-font">Landscape</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Image right -->
                <div class="col-sm-12 text-right navbar-styling shadow-text mb-3 pr-0">
                    <div class="container-fluid w-100 p-0">
                        <div class="row align-items-center text-white m-0">
                            <div class="col-7 h-100 text-left">
                                <a href="#" class="text-white">
                                    <p class="responsive-font">Architecture</p>
                                </a>
                            </div>
                            <div class="col-5 h-100 p-0">
                                <a href="#">
                                    <img src="/media/mountains.jpg" alt="Mountains image" class="img-fluid float-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Image left -->
                <div class="col-sm-12 text-right navbar-styling shadow-text mb-3 pl-0">
                    <div class="container-fluid w-100 p-0">
                        <div class="row align-items-center text-white m-0">
                            <div class="col-5 h-100 p-0">
                                <a href="#">
                                    <img src="/media/wien-night.jpg" alt="Night city image" class="img-fluid float-left">
                                </a>
                            </div>
                            <div class="col-7 h-100">
                                <a href="#" class="text-white">
                                    <p class="responsive-font">Seasons</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Image right -->
                <div class="col-sm-12 text-right navbar-styling shadow-text mb-3 pr-0">
                    <div class="container-fluid w-100 p-0">
                        <div class="row align-items-center text-white m-0">
                            <div class="col-7 h-100 text-left">
                                <a href="#" class="text-white">
                                    <p class="responsive-font">Food</p>
                                </a>
                            </div>
                            <div class="col-5 h-100 p-0">
                                <a href="#">
                                    <img src="/media/mountains.jpg" alt="Mountains image" class="img-fluid float-right">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div id="home-page-contact" class="container-fluid images-container p-0">
        <!-- Contact header image -->
        <div class="container-fluid contact-header-image p-0"></div>

        <!-- Contact area -->
        <div class="container w-75 contact-top-margin" style="margin-bottom: 10vh;">
            <div class="row">
                <div class="col-xl-6">
                    <h2 class="montserrat text-uppercase shadow-text">Contact</h2>
                </div>
                <div class="col-xl-6">
                    <form class="text-right">
                        <label for="contact-email" class="montserrat">Your Email:</label>
                        <input type="email" class="form-control form-control-lg osans text-right mb-2" id="contact-email" placeholder="my-email@domain.com">
                        <label for="contact-message" class="mt-3 montserrat">Message:</label>
                        <textarea id = "contact-message" class="form-control form-control-lg text-right osans mb-2" rows = "3" placeholder="Type in your message here..."></textarea>
                        
                        <input type="submit" value="Send">
                    </form>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="container-fluid mt-3 w-100 border-top pt-2">
            <div class="row justify-content-center text-center">
                <div class="col col-auto text-muted">
                    <ul class="nav">
                        <li class="mr-3 ml-3">
                            <a href="https://www.facebook.com/" class="nav-item text-center text-muted"><h3><i class="fab fa-facebook-square"></i></h3></a>
                        </li>
                        <li class="mr-3 ml-3">
                            <a href="https://www.instagram.com/" class="nav-item text-center text-muted"><h3><i class="fab fa-instagram"></i></h3></a>
                        </li>
                    </ul>
                </div>
                <div class="col col-12 mt-2">
                    <p class="montserrat">Copyright... 2020</p>
                </div>
            </div>
        </footer>
        
    </div>
{% endblock %}

{% block postloadjs %}
<script>
$('.carousel').carousel({
  interval: 4000
})
</script>
{% endblock %}