{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100 home-page">
        <div class="row h-100">
            <div class="col">
                <h1 class="text-white text-center fixed-bottom">
                    <i class="fas fa-chevron-down"></i>
                </h1>
            </div>
        </div>
    </div>
{% endblock %}