/* Imported fonts: Black Ops One, Montserrat and Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Montserrat&family=Open+Sans:wght@300&display=swap');

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none !important;
}

/* Basics (fonts, colours,...) */
/* Open sans font */
.osans {
    font-family: 'Open Sans', sans-serif;
}

/* Black Ops one font for logo*/
.logo-font {
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    font-size: 3.5rem;
}

/* Montserrat font */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* General formatting */
/* Adds shadow to the text */
.shadow-text {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

/* Search bar shadow */
.shadow-box {
    box-shadow: 0 0 20px 5px #fff;
}

.responsive-font {
    font-size: 4vw;
}

/* NAVBARS  */
/* Gives navbars fixed position */
.fixed-nav {
    position: fixed;
    left: 5vw;
    top: 10vh;
}

/* Large screen navbar sizing */
.large-nav {
    min-width: 90vw;
    z-index: 1000;
}

/* Adds gray background with transparency with white text */
.navbar-styling {
    background-color: #5F5F5F90;
    color: #F2F2F2;
}

.mheight-3-5 {
    min-height: 4rem;
    padding-top: .75rem;
}

/* For large screen navbar and logo */
.z-1050 {
    z-index: 1050;
}

/* For mobile sidenav */
.z-2000 {
    z-index: 2000;
}

/* Removes overlapping of dropdown menu with navbar */
.top-075rem {
    top: .75rem !important;
}

.basket-fixed {
    position: absolute;
    left: 10rem;
    /*
    position: fixed;
    left: 15vw;
    top: 10vh;*/
    z-index: 2050;
}

/* TOASTS */
/* Limits the height of the toast */
.cart-notification-wrapper {
    max-height: 20vh;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Welcome page carousel */
.images-container {
    min-height: 100vh;
    background-size: cover;
    color: #555;
    font-family: 'Open Sans', sans-serif;
}

.carousel-img-1 {
    background: url('https://res.cloudinary.com/drtxn8d5t/image/upload/v1608569175/photo-portfolio/display-images/DSC_0961-1920_nyzvhk.jpg') no-repeat center center;

}

.carousel-img-2 {
    background: url('https://res.cloudinary.com/drtxn8d5t/image/upload/v1608569186/photo-portfolio/display-images/DSC_0565-1920_yaf5fo.jpg') no-repeat center center;
}

.carousel-img-3 {
    background: url('https://res.cloudinary.com/drtxn8d5t/image/upload/v1608569196/photo-portfolio/display-images/DSC_0671-min_vl9cul.jpg') no-repeat center center;
}

/* Galleries */
.galleries-background {
    background: url('https://res.cloudinary.com/drtxn8d5t/image/upload/v1608569385/photo-portfolio/display-images/DSC_0335-min_gwa3yp.jpg') no-repeat center center fixed;
}
/* Adds spacing from top for galleries on home page */
.galeries-top-margin {
    padding-top: 25vh;
}

/* Adds top spacing for contact on home page */
.contact-top-margin {
    padding-top: 10vh;
}

/* Styling for the contact section image on the home page */
.header-40vh {
    height: 40vh;
}

.contact-header-image {
    background: url('https://res.cloudinary.com/drtxn8d5t/image/upload/v1608569196/photo-portfolio/display-images/DSC_0671-min_vl9cul.jpg') no-repeat center center;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }

  .images-container {
    min-height: 100vh;
    background-size: 100% 100% !important;
    color: #555;
    font-family: 'Open Sans', sans-serif;
  }
}

/* GALLERY CSS */
/* Sets minimum size for categories buttons */
.categories-buttons {
    min-width: 10rem;
    min-height: 3rem;
}

/* Restricts the image height so it doesn't break the visual appeal of the page */
.restrict-image-height {
    max-height: 100vh;
    overflow: hidden;
}

/* Bootstrap toasts */
.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Classes for image container in galleries - code from Miles Rose @ medium.com (see readme for more details) */
#images-wrapper {    
   line-height: 0;       
    -webkit-column-count: 3;    
    -webkit-column-gap: 0px;    
    -moz-column-count: 3;
    -moz-column-gap: 0px;
     column-count: 3;    
     column-gap: 0px;
}  
#images-wrapper:first-child {    
   width: 100% !important;    
   height: auto !important;  
   max-height: 80vh; /* Added this because some images can look too big */
}  
/* I deleted the additional #images-wrapper as I used Bootstrap classes for styling */

/* Media querries for gallery display - changed to Bootstrap breakpoints */
@media (max-width: 1200px) {
   #images-wrapper {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
   }
  }  
@media (max-width: 768px) {
   #images-wrapper {
   -moz-column-count:    1;
   -webkit-column-count: 1;
    column-count:        1;
   }
  }
/* One media querry was removed as it wasn't necessary */
/* End code from Miles Rose */

/* Short info for the image cards in galleries */
.card-comment {
    position: absolute;
    bottom: 0;
    min-height: 4rem;
}

/* MORE INFO/FULL SIZE IMAGE */
/* Default container for more info page */
#view-image-container {
    height: 100vh;
    max-width: 100vw;
    overflow: auto;

    background-color: #3C3C3C;
}

/* Container that makes the image fill container it is in */
#full-size-image-container {
    max-height: auto;
    width: 100%;
    min-width: 768px; /* I used pixels here to conform with bootstrap page breaks as I didn't want image to scale down beyond this point */
}

/* Sidebar with image info and purchase options */
#image-info-and-purchase {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    min-height: 700px;
    min-width: 400px;
    background-color: #3C3C3C90;
}

/* Background styling for drop ups in botom navigation pannel */
.image-view-dropup {
    background-color: #4b4b4b;
}

/* Makes bottom navigation be fixed to the bottom of the screen */
.image-details-navigation {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
}

/* Positioning for icon that hides the sidebar */
#hide-image-info {
    position: fixed;
    top: 1rem;
    right: 2rem;
    width: auto;
}

/* Positions the icon that goes back to all images */
#back-to-all-images {
    position: fixed;
    top: 1rem;
    left: 2rem;
    width: auto;
}

/* CART CSS */
.cart-restrict-imageheight {
    max-height: 20rem;
}

.update-link,
.remove-item {
    cursor: pointer;
}

#order-confirmation-wrapper {
    max-width: 700px;
}

select,
select option {
    color: #000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}