html {
    scroll-behavior: smooth;
}

.home-page {
    background: url('/media/church-day.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

/* Basics (fonts, colours,...) */

/* Open sans font */
.osans {
    font-family: 'Open Sans', sans-serif;
}

/* Black Ops one font */
.bops {
    font-family: 'Black Ops One', cursive;
}

/* Montserrat font */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

/* General formatting */

/* Navbar formatting */
.fixed-nav {
    position: fixed;
    left: 10vw;
    top: 10vh;
    min-width: 80vw;
}

.navbar-styling {
    background-color: #5F5F5F;
    opacity: 0.5;
    color: #F2F2F2;
}

.logo-aside {
    position: fixed;
    left: -5rem;
    top: 2rem;
    height: 3.5rem;

    background-color: #5F5F5F;
    opacity: 0.5;

    color: #F2F2F2;
}

.mheight-3-5 {
    min-height: 3.5rem;
    padding-top: .5rem;

}

.logo-font {
    text-transform: uppercase;
    font-size: 3.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* index.html styling */

.galery-background {
    background: url('/media/wien-night.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #555;
    font-family: 'Open Sans', sans-serif;
}