<!-- Footer -->
    <footer class="container-fluid mt-3 w-100 border-top pt-2">
        <div class="row justify-content-center text-center">
            <div class="col col-auto text-muted">
                <ul class="nav">
                    {% for social in media_links %}
                    <li class="mr-3 ml-3">
                        <a href="{{ social.site_url }}" class="nav-item text-center text-muted" target="_blank" rel="noopener"><h3><i class="{{ social.icon }}"></i></h3></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col col-12 mt-2">
                <p class="montserrat">Under construction - 2020</p>
            </div>
        </div>
    </footer>