<!-- Footer -->
    <footer class="container-fluid mt-3 w-100 border-top pt-2">
        <div class="row justify-content-center text-center">
            <div class="col col-auto text-muted">
                <ul class="nav">
                    {% for social in media_links %}
                    <li class="mr-3 ml-3">
                        <a href="{{ social.site_url }}" class="nav-item text-center text-muted" target="_blank" rel="noopener">
                            <i class="{{ social.icon }}"></i>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col col-12 mt-2">
                <p class="montserrat">All images copyright Vladimir Mijatovic - 2021</p>
                <p class="montserrat">For more info on code snippets see readme or <a href="{% url 'home' %}#home-page-contact">contact</a> me</p>
            </div>
        </div>
    </footer>