<!-- Collapsible sidebar for mobile devices -->
<aside>
    <div class="container fixed-nav navbar-mobile-max-width d-xl-none z-2000">
        <div class="row">
            <button class="btn btn-lg navbar-styling" type="button" data-toggle="collapse" data-target="#mobile-sidenav" aria-expanded="false" aria-controls="collapseExample">
                <i class="fas fa-bars"></i>{% if grand_total %}  €{% endif %}
            </button>
        </div>
        <div class="row mt-3 montserrat">
            {% for message in messages  %}
                {% with message.level as level %}
                    {% if level == 40 %}
                    <div>{% include 'includes/toasts/toast_error.html' %}</div>
                    {% elif level == 30 %}
                        <div>{% include 'includes/toasts/toast_warning.html' %}</div>
                    {% elif level == 25 %}
                        <div>{% include 'includes/toasts/toast_success.html' %}</div>
                    {% else %}
                        <div>{% include 'includes/toasts/toast_info.html' %}</div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    </div>

    <div id="mobile-sidenav" class="collapse navbar-styling fixed-nav d-xl-none z-1050 shadow-text">
        <div class="card card-body navbar-styling" style="padding-top: 4rem;">

            <!-- Social network links -->
            <div class="container">
                <div class="row">
                    {% for social in media_links %}
                    <div class="col">
                        <a href="{{ social.site_url}}" class="nav-item text-center text-white">
                            <i class="{{ social.icon}}"></i>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown-divider"></div>

            <!-- Page navigation -->
            <ul class="nav flex-column montserrat">
                <li class="nav-item">
                    <a class="nav-link active text-white" href="{% url 'home' %}">HOME</a>
                </li>
                <li class="nav-item">
                    <div class="btn-group dropright bg-transparent">
                        <button type="button" class="btn dropdown-toggle text-white shadow-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            GALLERIES
                        </button>
                        <div class="dropdown-menu navbar-styling">
                            <a class="dropdown-item text-white" href="{% url 'all_images' %}">All Images</a>
                            <div class="dropdown-divider"></div>
                            {% for category in categories %}
                            <a class="dropdown-item text-white text-capitalize" href="{% url 'all_images' %}?category={{ category.name }}">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <button type="button" id="toggle-search-bar" class="btn bg-transparent text-white shadow-text" data-toggle="modal" data-target="#search-bar" onclick="hideMobileNavBar()">
                        SEARCH
                    </button>
                </li>

                <!-- Contact and account management -->
                <li class="nav-item">
                    <div class="btn-group dropright bg-transparent">
                        <button type="button" class="btn dropdown-toggle text-white shadow-text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PROFILE
                        </button>
                        <div class="dropdown-menu navbar-styling">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_image' %}" class="dropdown-item text-white">Add Image</a>
                                    <a href="" class="dropdown-item text-white">Add Image Category</a>
                                    <a href="" class="dropdown-item text-white">Add Social Media</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item text-white">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item text-white">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item text-white">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item text-white">Login</a>
                            {% endif %}
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'home' %}#home-page-contact">CONTACT</a>
                </li>
            </ul>
            <!-- Shows the basket If there is something in it - for mobile sidenav -->
            {% if grand_total %}
                <div class="dropdown-divider"></div>

                <a href="{% url 'view_cart' %}" class="text-white container montserrat">
                    <div class="row">
                        <div class="col-4 text-center text-white">
                            <i class="fas fa-shopping-cart"></i>
                        </div>
                        <div class="col-8 text-center text-white">
                            <p class="my-0">
                                €{{ grand_total|floatformat:2 }}
                            </p>
                        </div>
                    </div>
                    <div class="row text-center">
                        <small class="montserrat">(Tap here to go to your cart)</small>
                    </div>
                </a>
            {% endif %}
        </div>
        
    </div>
    
</aside>