<div class="card restrict-image-height text-center text-white rounded-0 border-0 m-2">
    <a href="{% url 'image_view' images.id %}" target="_blank">
        <img class="card-img rounded-0 border-none" src="{{ images.imgurl }}" alt="{{ images.title }} image">
    </a>
    <div class="container-fluid navbar-styling px-5 card-comment align-items-center">
        <div class="row">
            <div class="col-6 text-left p-0">
                <p class="border-bottom border-white mb-2">{{ images.title }}</p>
                <p>{{ images.category }}</p>
            </div>
            <div class="col-6 text-right p-0">
                <p class="border-bottom border-white mb-2">{{ images.rating }} / 5</p>
                <p>€ {{ images.price }}</p>
            </div>
        </div>
        {% if request.user.is_superuser %}
        <div class="row">
            <div class="col-6 text-left p-0"><a href="" class="btn btn-info text-white">Edit</a></div>
            <div class="col-6 text-right p-0"><a href="" class="btn btn-danger text-white">Delete</a></div>
        </div>
        {% endif %}
    </div>
</div>
