<!-- Search bar -->
    <div class="modal fade justify-content-center" id="search-bar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-transparent border-0">
                <form>
                    <div class="container-fluid w-100 p-0">
                        <div class="row">
                            <div class="col-10">
                                <div class="form-group">
                                    <input type="text" id="search" name="search" class="rounded border-secondary shadow-box form-control navbar-styling" aria-describedby="Search" placeholder="Search">
                                    <small id="emailHelp" class="form-text text-white">Type in what you are looking for</small>
                                </div>
                            </div>
                            <div class="col-2 pt-2 text-white">
                                <h3><i class="fas fa-search"></i></h3>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>