{% extends "base.html" %}

{% block content %}

{% include 'includes/header-navbar.html' %}
{% include 'includes/header-mobile.html' %}
{% include 'includes/search-bar.html' %}

<!-- Header image -->
<div class="container-fluid header-40vh contact-header-image p-0"></div>

<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="my-4 montserrat">{% block page_title %}{% endblock %}</h2>
            <hr>
        </div>
    </div>
</div>

<div class="container header-container">
    <div class="overlay">
        <div class="row">
            <div class="col-6">
                <div class="allauth-form-inner-content">
                    {% block inner_content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'includes/footer.html' %}

{% endblock %}

