{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block page_title %}Log In{% endblock %}

{% block inner_content %}
    <p class="montserrat text-black">
        {% blocktrans %}
            If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
        {% endblocktrans %}
    </p>
    <form class="login my-3" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn btn-lg btn-secondary rounded-1 secondaryAction montserrat" href="{% url 'home' %}">Home Page</a>
        <button class="btn btn-lg btn-secondary rounded-1 montserrat float-right" type="submit">{% trans "Log In" %}</button>
        <p class="text-center">
            <a class="btn secondaryAction text-primary montserrat" href="{% url 'account_reset_password' %}">
            {% trans "Forgot Password?" %}
            </a>
        </p>
    </form>

{% endblock %}
